<%= render 'layouts/public' %>
<div class = "container">
  <div class = "row">
  <h3 class = "ml-3 mb-3">ABOUT</h3>
  </div>

  <h4 class = "row ml-1 mb-2">
  <%= image_tag asset_path("/images/dinner.jpg", size: "30x30") %>
  「YOU飯チョイス」とは？
  </h4>
  <div class = "row mt-1 ml-3 mb-3">
  今日の夕飯のレシピを検索、投稿、いいね（お気に入り登録）、コメントができるコミュニティサイト。<br>
  「やる気度」、食材、料理ジャンルなど色々な方法で検索ができ、<br>
  楽しく・簡単に今日の夕飯を決めることができます！<br>
  </div>

  <h4 class = "row ml-1 mb-2">
  <%= image_tag asset_path("/images/dinner.jpg", size: "30x30") %>
  「やる気度」とは？
  </h4>
  <div class = "row mt-1 ml-3 mb-3">
  自炊レベル（「やる気度」）を★１つ～★★★３つにレベル分けをしました。<br>
  ご自身の今日の自炊レベルに合ったレシピがきっと見つかります♪<br>
  ★・・・時短（１０分以内）で簡単に作れるレシピ<br>
  ★★・・・３０分前後で作れるお手軽レシピ<br>
  ★★★・・・１時間前後で作る、プラス「ひと手間」な本格レシピ<br>
  </div>

  <h4 class = "row ml-1 mb-2">
  <%= image_tag asset_path("/images/dinner.jpg", size: "30x30") %>
  「おすすめ」の使い方
  </h4>
  <div class = "row mt-1 ml-3 mb-3">
  ・ご自身のレシピを投稿して記録に残すことができます。たくさん「いいね」が集まればTOPページの人気レシピに載るかも！？<br>
  ・「いいね」ボタンを押すと「お気に入り登録」ができ、後から見返すことができます。<br>
  ・コメント機能で気軽に質問・レビューができ、ユーザー同士のコミュニケーションを取ることができます。
  </div>
  <div class = "button text-center">
    <a href='/recipes'>>>もっとレシピを探す</a>
  </div>
</div>
