/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.container {
background-image: image-url("background.jpg");
background-size:cover;
}

.sbox1 {
height:30px;
padding:0 10px;
left:0;
top:0;
border-radius:25px;
outline:0;
background:#eee;
}

#sbtn1 {
height:30px;
width:50px;
background:#FF9033;
color:#fff;
border:none;
border-radius:25px;
}

#sbtn1:hover {
color:#888;
}

.sbox2 {
height:30px;
padding:0 10px;
left:0;
top:0;
border-radius:25px;
outline:0;
background:#eee;
}

#sbtn2 {
height:30px;
width:50px;
background:#FFDD33;
color:#fff;
border:none;
border-radius:25px;
}

#sbtn2:hover {
color:#888;
}

h4 {
color:#c71585;
}

.btn-green {
background:#8eff8e;
color:#fff;
border-radius:10px;
font-size:16px;
padding:6px 12px;
}

.btn-green:hover {
color:#888;
}

.btn-red {
background:#ff8e8e;
color:#fff;
border-radius:10px;
font-size:16px;
padding:6px 12px;
}

.btn-red:hover {
color:#888;
}

.btn-blue {
background:#8ec6ff;
color:#fff;
border-radius:10px;
font-size:16px;
padding:6px 12px;
}

.btn-blue:hover {
color:#888;
}

.btn-orange {
background:#FF9033;
color:#fff;
border-radius:10px;
font-size:16px;
padding:6px 12px;
}

.btn-orange:hover {
color:#888;
}

.btn-purple {
background:#8e8eff;
color:#fff;
border-radius:10px;
font-size:16px;
padding:6px 12px;
}

.btn-purple:hover {
color:#888;
}

.btn-yellow {
background:#FFDD33;
color:#fff;
border-radius:10px;
font-size:16px;
padding:6px 12px;
}

.btn-yellow:hover {
color:#888;
}

.button a {
position: relative;
color: #333;
text-decoration: none;
}
.button a:hover {
color: #b99b00;
}

.button a::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 10px;
background-color: rgba(185,155,0,0.5);
transition: width 0.3s;
}

.button a:hover::after {
width: 100%;
}

.button a {
position: relative;
color: #333;
text-decoration: none;
}
.button :hover {
color: #b99b00;
}

.button ::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 10px;
background-color: rgba(185,155,0,0.5);
transition: width 0.3s;
}

.button :hover::after {
width: 100%;
}

.button-round {
position: relative;
color: #333;
text-decoration: none;
}

.button-round :hover {
color: #b99b00;
}

.button-round ::after {
content: '';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 0;
height: 0;
background-color: rgba(185,155,0,0.5);
border-radius: 50%;
transition: 0.3s;
}

.button-round a:hover::after {
width: 40px;
height: 40px;
}

.pagination {
justify-content: center;
}

.pagination>li>a {
border: none;
color: #d2691e;
}

.pagination>.active>a {
background: #800000;
border-radius: 15px;
}

.pagination>li>a:hover {
border-radius: 15px;
color: #d2691e;
}
